--upgrade pip
torch 
torchvision 
torchaudio --index-url https://download.pytorch.org/whl/cu121
transformers==4.40.1 
peft==0.10.0 
auto-gptq==0.6.0 
optimum==1.17.1 
scikit-learn 
sentence_transformers 
accelerate==0.27.0 
numpy 
pandas